@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css');

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    font-family: 'Arial', sans-serif;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    background-image: url('');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.login-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgba(47, 47, 51, 0.7);
    padding: 30px;
    border-radius: 15px;
}

label {
    margin-bottom: 5px;
}

input {
    padding: 15px;
    border: none;
    border-radius: 7.5px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
}

button {
    padding: 15px;
    border: none;
    border-radius: 7.5px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #1c4eb9;
}

.forgot-password {
    margin-top: 5px;
    color: #1c4eb9;
    cursor: pointer;
}

.checkbox {
    color: #5f5f5f85;
    font-size: 15px;
}